/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/Nexa_Free_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family:trebuchet ms, arial, sans-serif;
	font-size: 100%;
	background: #ffffff;
}
.wrap{
	margin:0 auto;
	width:80%;
}
.wrapper{
	padding:2% 4%;
}
/* start header */
.header_bg{
	background: #111111;
}

/*menu*/
.cssmenu {
	float: right;
}
.cssmenu > h1 {
	color:#ffffff;
	font-weight: bold;
	font-size: 30px;
	display:inline-block;
	position: relative;
	font-family: Georgia;
	vertical-align:middle;
	padding: 1% 0%;
}
.cssmenu > ul > li {
	display:inline-block;
	position: relative;
}
.cssmenu > ul > li a.home{
	background: url('../images/home.png') no-repeat;
}
.cssmenu > ul > li a.home:hover{
	background: url('../images/home_h.png') no-repeat;
}
.cssmenu > ul > li.active a{
	color:#ffffff;
}
.cssmenu > ul > li span img {
	vertical-align: middle;
}
.cssmenu > ul > li > a {
	font-family: 'Merriweather Sans', sans-serif;
	color: #999999;
	display: block;
	font-size: 16px;
	line-height: 1.5em;
	padding: 9px 18px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.cssmenu > ul > li > a:hover {
	color: #ffffff;
}
/* start sub_header */
.header_sub_bg{
	background: #f8f8f8;
	border-bottom:1px solid #dddddd;
	height: 80px;
}
.hdr-nav{
	float:right;
	width: 47%;
}
.sub_nav li {
    float: left;
    position: relative;
}
.sub_nav li.active a{
	border-bottom:1px solid #161616;
}
.sub_nav li a {
	height: 38px;
	color: #555555;
	display: block;
	float: left;
	font-size: 1.1em;
	padding:8px 16px;
	position: relative;
	text-decoration: none;
}
.sub_nav li:hover > a {
   	border-bottom:1px solid #161616;
}
/* start main */
.content{
	padding: 4% 0;
	border-bottom: 1px solid rgb(226, 226, 226);
}
.content h2.list{
	width: 75%;
	margin: 0 auto;
}
.content h3{
	margin-top: 1%;
}
h2.info {
	font-family: 'nexa_boldregular';
	display:block;
	text-align: center;
	font-size: 3.2vw;
	color: #111111;
	text-transform: capitalize;
	letter-spacing: -1px;
	word-spacing: -2px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
h2.style a{
	font-family: 'nexa_boldregular';
	display:block;
	text-align: center;
	font-size: 3.2vw;
	color: #111111;
	text-transform: capitalize;
	letter-spacing: -1px;
	word-spacing: -2px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
h2.style a:hover{
	color:#333333;
}
h3.style{
	text-align: center;
	font-size: 0.8125vw;
	color: #777777;
	text-transform: capitalize;
	font-family: 'Merriweather Sans', sans-serif;
}
p.intro{
	text-align:left;
	font-size: 1.2vw;
	line-height:1.8vw;
	color: #111111;
	font-family: 'Merriweather Sans', sans-serif;
	text-indent:32.4px;
}

.intrest > ol{
	margin: 1% 5%;
}
.intrest > ol > li {
	list-style-type:disc;
	font-size: 1.2vw;
	line-height:1.6vw;
	color: #111111;
	font-family: 'Merriweather Sans', sans-serif;
}


/* Important dates */
.notice{
	padding: 4% 0;
	border-bottom: 1px solid rgb(226, 226, 226);
	text-align: center;
}
.notice h2.info {
	margin-bottom: 1%;
	font-family: 'nexa_boldregular';
	display:block;
	text-align: center;
	font-size: 2.8vw;
	color: #111111;
	text-transform: capitalize;
	letter-spacing: 0px;
	word-spacing: 2vm;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
} 
.notice h3 {
	margin-top: 1%;
	font-family: 'Bookman Old Style';
	font-size: 1.6vw;
}
.notice h3.special{
	color: #C00000;
}
.notice h3 > span {
	font-weight: bold;
}

/* Committes */
.committee{
	padding: 4% 0;
	border-bottom: 1px solid rgb(226, 226, 226);
	text-align: center;
}
.committee h2.info {
	font-family: 'nexa_boldregular';
	display:block;
	text-align: center;
	font-size: 2.0vw;
	color: #111111;
	text-transform: capitalize;
	letter-spacing: 0px;
	word-spacing: 0px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
} 
.committee h3 {
	padding: 0 0;
	font-size: 1.4vw;
	/*text-decoration: underline black;*/
} 
.committee p {
	font-size: 1.2vw;
	line-height:1.3vw;
	color: #111111;
	font-family: 'Merriweather Sans', sans-serif;
	/*text-indent:32.4px;*/
}

.committee > .com-table {
	width: 100%;
	padding:1% 0%;
	overflow: auto;
	display: -webkit-box;
	text-align: center;
}

.committee > .com-table > table {
	width: 100%;
	text-align: center;
	/*word-break: break-all;*/
	word-wrap: break-word;
	/*table-layout: fixed;*/
}
.img_show {
	margin-top: 0.1%;
	/*width: 160px;
	height: 200px;*/
	/*width: 80%;*/
	width: 80%;
	height: auto;
	max-width: 160px;
	max-height: 200px;
	/*object-fit: contain;*/
}
.committee > .com-table > table > td {
	text-align: center;
	padding: 0.2% 0.2% 0 0;
}
.committee > .com-table > table > tr.name td {
	max-width: 25%;
}
.committee > .com-table > table td.title {
	/*height: 90%;*/
	background-color: #DDDDDD;
}

.committee > .com-table p {
	/*padding: 0.2% 0;*/
	font-size: 1.2vw;
	/*line-height:1.3vw;*/
	color: #111111;
	font-family: 'Merriweather Sans', sans-serif;
	/*text-indent:32.4px;*/
	letter-spacing: 0px;
	word-spacing: -2px;
}

.committee > .com-table h4 {
	/*padding-top: 0.5%;*/
	font-size: 1.2vw;
	/*line-height:1.3vw;*/
	font-weight: bold;
	color: #111111;
	font-family: 'Merriweather Sans', sans-serif;
	/*display:block;*/
	margin-top: 1%;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.committee > .com-table h4 a {
	font-size: 1.2vw;
	/*line-height:1.3vw;*/
	font-weight: bold;
	color: #111111;
	font-family: 'Merriweather Sans', sans-serif;
	/*display:block;*/
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.committee > .com-table h4 a:hover{
	/*color:#333333;*/
	color:#5599FF;
}


/* start footer */
.footer{
	padding: 0 4% 2%;
}
.foot_nav {
	width: 28.3333%;
	float: left;
	margin:0.5% 2.333% 0 0; 
}
.foot_soc {
	width: 21.3333%;
	float: left;
	margin-right: 1.333%;
}
.copy{
	width: 46.3333%;
	float: right;
	margin-top: 1%;
}

/* start footer copy */
.copy{
	font-family: 'Merriweather Sans', sans-serif;
}
.copy p{
	text-transform: capitalize;
	font-size: 0.6725vw;
	color: #555555;
	line-height: 1.8vw;
}
.copy p a{
	color: #000000;
}
.copy p a:hover{
	color: #555555;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
/* start about */
.top{
	margin-top: 2%;
}
.top1{
	margin-top: 4%;
}
h4.style a{
	font-size: 16px;
	font-family: 'nexa_boldregular';
	color: #111111;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
h4.style a:hover{
	color: #333333;
}
h5.style{
	font-size:16px;
	font-family: 'nexa_boldregular';
	color: #555555;
	line-height: 1.8vw;
}
.span3{
	text-align:center;
}
.span1_of_3{
	margin-top:4%;
	float: left;
	margin-left: 6.333%;
	width:26.3333%;
}
.span1_of_3 p{
	text-align: center;
}
.span2{
	text-align:center;
	width: 60%;
	margin: 40px auto;
}
.span1_of_2{
	margin-top: 4%;
	float: left;
	margin-left: 6.333%;
	width: 43.3333%;
}
.span1_of_2 p{
	text-align: center;
}
/* start blog*/
h4.style1 a{
	font-size: 1.5em;
	font-family: 'nexa_boldregular';
	color: #111111;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
h4.style1 a:hover{
	color: #333333;
}
.article{
	text-align:center;
}
.article h5{
	font-size: 16px;
	font-family: 'nexa_boldregular';
	color: #111111;
}
.article ul {
	margin-top: 2%;
}
.article ul li{
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
.article ul li a{
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 0.8725em;
	color: #ffffff;
	background: #111111;
	padding: 2px 8px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	margin-left: 36px;
	position: relative;
}
.article ul li a:before{
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	background: url('../images/arrow.png');
	top: 6px;
	left: -8px;
}
.article ul li.twitter{
	background-image: url('../images/twitter.png') ;
	background-repeat: no-repeat;
	background-position:0px 0px;
}
.article ul li.facebook{
	background-image: url('../images/facebook.png') ;
	background-repeat: no-repeat;
	background-position:0px 0px;
}
.article ul li.pinterest{
	background-image: url('../images/pinterest.png') ;
	background-repeat: no-repeat;
	background-position:0px 0px;
}
.article ul li:hover{
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}

.btn1{
	margin-top: 1%;
	display: inline-block;
	font-family: 'Merriweather Sans', sans-serif;
	text-align: left;
	font-size: 1em;
	color: #555;
	line-height: 1.8em;
	padding: 10px 0;
}
.btn1:before{
	content:url('../images/reply.png');
	float:left;
}
.btn1:hover{
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
.grid1_of_2.left{
	margin-left: 14%;
}


/***** Media Quries *****/
@media only screen and (max-width: 1366px) {
	.wrap{
		width:95%;
	}
	.hdr-nav {
		width: 58%;
	}
	.sub_nav li a {
		height: 40px;
		padding: 8px 16px;
	}
}
@media only screen and (max-width: 1280px) {
	.wrap{
		width:95%;
	}
	.hdr-nav {
		width: 58%;
	}
	.sub_nav li a {
		height: 42px;
	}
	.pagination {
		width: 100%;
		margin: 0;
	}
}
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}
	.hdr-nav {
		width: 82%;
	}
	.foot_nav {
		width: 100%;
		float: none;
		margin: 0.5% 0;
	}
	.foot_soc {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.copy {
		width: 100%;
		float: none;
		margin-top: 1%;
	}
	.pagination ul {
		margin: 1% 0;
	}
	.foot_nav li {
		margin-right: 2%;
	}
	.foot_soc ul li {
		margin-top:2%;
		margin-right: 1.3333%;
	}
	.copy{
		margin-top: 2%;
	}
}
@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.header_sub_bg {
		height: 74px;
	}
	.hdr-nav {
		width: 82%;
	}
	.cssmenu > ul > li > a {
		padding: 8px 10px;
	}
}
@media only screen and (max-width: 640px){
	.wrap{
		width:95%;
	}
	.logo{
		float:none;
		text-align:center;
	}
	.cssmenu {
		float:none;
		text-align:center;
	}
	.hdr-nav {
		text-align:center;
		float:none;
		width: 100%;
	}
	h2.style a {
		font-size: 2.2vw;
	}
	.cssmenu > ul > li > a {
		padding: 10px 10px;
		font-size: 13px;
	}
}
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	h2.style a {
		font-size: 2em;
	}
	.cssmenu > ul > li > a {
		font-size: 12px;
	}
	.span1_of_3 {
		margin-top: 0%;
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.span2 {
		text-align: center;
		width: 100%;
		margin: 0px auto;
	}
	.span1_of_2 {
		margin-top: 0%;
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.cssmenu > ul > li > a {
		font-size: 10px;
		padding: 10px 2px;
	}
	.hide{
		display: none;
	}
}
@media only screen and (max-width: 320px) {
	.wrap{
		width:95%;
	}
	.span1_of_3 {
		margin-top: 0%;
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.span2 {
		text-align: center;
		width: 100%;
		margin: 0px auto;
	}
	.span1_of_2 {
		margin-top: 0%;
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.sub_nav li a {
		height: 28px;
	}
	.header_sub_bg {
		height: 50px;
	}
	.sub_nav li a {
		font-size: 13px;
		padding: 8px 10px;
	}
	.cssmenu {
		float: none;
		text-align: left;
	}
	.cssmenu > ul > li > a {
		font-size: 10px;
		padding: 10px 2px;
	}
	.pagination ul li a {
		padding: 4px 10px;
	}
	.article ul li a {
		margin-left: 30px;
	}
}